<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta name="robots" content="noindex,nofollow">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bulb</title>
    <link rel="stylesheet" href="/css/bulb.css">
  </head>
  <body>
  <main>
<h1>Bulb</h1>
<div id="firstDiv"></div>
<button id="firstButton">ON</button>
<button id="secondButton">OFF</button>
<a href="https://visitheart.com/about">Developed and Design by R.M.Sarfraz</a>
  </main>
	<script src="/js/bulb.js"></script>
  </body>
</html>