<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta name="robots" content="noindex,nofollow">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Counter</title>
    <link rel="stylesheet" href="/css/counter.css">
  </head>
  <body>
  <main>
    <div id="shades"></div>
      <h1>Counter</h1>
      <div id="innerDiv">
       <span id="minusClickDiv">−</span><span id="digitDiv">0</span><span id="plusClickDiv">+</span>
      </div>
      <a href="https://visitheart.com/about">Code by R.M.Sarfraz</a>
  </main>
	<script src="/js/counter.js"></script>
  </body>
</html>