<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/image/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/image/favicon//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/image/favicon//favicon-16x16.png">
    <link rel="manifest" href="/image/favicon//site.webmanifest">
    <link rel="stylesheet" type="text/css" href="/css/jokes.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dad Jokes App.</title>
  </head>
  <body>
    <main id="main_Div">
    <div id="shadesGlasses"></div>
    <h1><h1>Dad Joke's App</h1><h1 id="meToo">Code by Rana Sarfraz</h1> <abbr title="APIs-Sources"><a href="https://api.api-ninjas.com">Sources: api.api-ninjas.com ❤️</a></abbr></h1>
    <h2 id="jokes_Id"><span>" </span><%=joke%><span> "</span></h2>
  </main>
  </body>
  <script type="text/javascript">
    const mainId = document.getElementById('jokes_Id');
    mainId.style.width="50vw";
  </script>
</html>