<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="robots" content="noindex,nofollow">
    <link rel="stylesheet" href="/css/quote.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote App</title>
</head>
<body>
    <div class="mainDiv">
        <div class="blackShades"></div>
        <div class="black_ShadesInner_Div">
            <h1 class="hOne">❞ Quote App</h1>
            <p class="quote"><%=quote%></p>
            <p><%=author%></p>
            <p>(<%=category%>)</p>
        </div>
        <div class="div">Developed by Sarfraz</div>
        <div
            style="position:absolute; bottom:3px; display:flex; justify-content: center; align-items: center; flex-direction: column;">
            <a href="https://api-ninjas.com"><abbr title="APIs Sources">APIs Sources</abbr></a>
        </div>
    </div>
</body>
<script src="/js/quote.js"></script>
</html>