<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/whois.css">
	<script type="text/javascript" src="/js/whois.js" defer></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WhoIs - Check Domain Details</title>
</head>
<body>
<div class="mainPage">
	<nav class="nav">
		<h1>WhoIs</h1>
		<form class="form">
			<input class="input" type="text" placeholder="Enter domain name" name="domain" required="true"/>
			<button style="padding:5px;cursor:pointer;">Search</button>
		</form>
		</nav>
 <div class="infoClass">
 	<h1>Check Your Domain Info</h1>
     <p>Domain Name: <span class="domain">...</span></p>
      <p>Registrar: <span class="registrar">...</span></p>
       <p>WhoIsServer: <span class="whois">...</span></p>
        <p>Updated Date: <span class="update">...</span></p>
         <p>Created Date: <span class="createdDate">...</span></p>
          <p>Expiration Date: <span class="expiredDate">...</span></p>
           <ul>
           	<p>Name Servers:</p>
           <li><span class="server1"></span></li>
           <li><span class="server2"></span></li>
           <li><span class="server3"></span></li>
           <li><span class="server4"></span></li>
           </ul>
            <p>DNSSEC: <span class="DNS">...</span></p>
 </div>
<div
	style="position:absolute; bottom:3px; display:flex; justify-content: center; align-items: center; flex-direction: column;">
	<abbr title="Developed in Lahore"><a href="visitheart.com">Developed by Rana Sarfraz</a></abbr>
	<a href="https://api-ninjas.com"><abbr title="APIs Sources">APIs Sources</abbr></a>
</div>
</div>
<div class="loader">
</div>
<!-- <div
	style="position:absolute; bottom:3px; display:flex; justify-content: center; align-items: center; flex-direction: column;">
	<abbr title="Developed in Lahore"><a href="/about">Developed by Rana Sarfraz</a></abbr>
	<a href="https://api-ninjas.com"><abbr title="APIs Sources">APIs Sources</abbr></a>
</div> -->
</body>
</html>