*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
section{
	width: 100%;
	height: 100vh;
	background: url("/image/pexels-hamza-gulzar-4084310.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 10px;
    animation: linear datapage 1s forwards;
}
@keyframes datapage{
	0%{
		opacity: 0;
	}
	50%{
		opacity: .5;
	}
	100%{
		opacity: 1;
	}
}
#picLinkAttribution{
	position: absolute;
	bottom: 3px;
	left: 3px;
	color: silver;
	font-size: 7pt;
	opacity: .7;
}
#mainApp{
	width: 70%;
	height: 80vh;
	background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0) 35%, rgba(0,212,255,1) 100%); 
    display: flex;
    padding: 10px;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    flex-wrap: wrap;
    color: white;
}
h1{
	color: white;
	opacity: .8;
}
input{
	padding: 5px;
	outline: 0;
}
#button{
	padding: 10px;
	cursor: pointer;
}
#button:active{
	background: brown;
}
@media only screen and (min-width:900px){
	#mainApp{
		padding: 50px;
	}
}
@media only screen and (max-width: 600px){
	#mainApp{
		background: black;
		height: 90vh;
	}
	h1{
		position: absolute;
		top: 3px;
	}
	form{
	position: absolute;
	bottom: 3px;
	right: 3px;
	display: flex;
	justify-content: right;
}
input{
	width: 50%;
}
}
