<style>
    #componentFour {
        padding: 60px;
        background-color: rgb(172, 95, 108);
        display: flex;
        justify-content: space-around;
        align-items: center;
        opacity: .9;
    }

    button {
        background-color: rgb(172, 95, 108);
        padding: 11px;
        border: solid 2px black;
        border-radius: 8px;
    }

    @media only screen and (max-width:868px) {
        #componentFour {
            flex-direction: column;
            gap: 22px;
        }
    }
</style>

<div id="componentFour">
    <h3>Get stared?</h3>
    <button>support us</button>
</div>