<style>
    #componenFive {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 11px;
        color: white;
        font-size: 11px;
    }

    @media only screen and (max-width:868px) {}
</style>

<div id="componenFive">
    <div style="flex:1.5; display: grid;gap:9px;">
        <div>
            Address: xyz street dash xyz i.e
        </div>
        <div>
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
    </div>

    <div style="flex:2;text-align: right;display: grid;gap:3px;">
        <div>&copy; copyright 2023</div>
        <div>Developed by R.M.S</div>
    </div>
</div>