<style>
    #componentThree {
        color: white;
        display: grid;
        background-image: url("/image/superhero-534120_640.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        gap: 59px;
        text-align: center;
        padding: 70px 50px 200px 50px;
    }

    strong {
        color: grey;
    }

    .secondDiv {
        background-color: rgba(0, 0, 0, 0.753);
        padding: 22px;
    }

    @media only screen and (max-width:668px) {
        .secondDiv {
            flex-direction: column;
        }

        #componentThree {
            background-position: right;
        }
    }
</style>

<div id="componentThree">
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>

    <div class="secondDiv" style="display: flex;justify-content: space-evenly;align-items: center;">
        <div style="width:101px;display: grid;
        gap: 11px;place-items: center;">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam dignissimos aut exercitationem</p>
            <strong>Gina Ash</strong>
            <p>Public Manager</p>
            <img style="width:50px;height:50px;" src="/image/pexels-valeriia-miller-12050399.webp" alt="">
        </div>


        <div style="width:101px;display: grid;
        gap: 11px;place-items: center;">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam dignissimos aut exercitationem</p>
            <strong>Gina Ash</strong>
            <p>Public Manager</p>
            <img style="width:50px;height:50px;" src="/image/pexels-valeriia-miller-12050399.webp" alt="">
        </div>

        <div style="width:101px;display: grid;
        gap: 11px;place-items: center;">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam dignissimos aut exercitationem</p>
            <strong>Gina Ash</strong>
            <p>Public Manager</p>
            <img style="width:50px;height:50px;" src="/image/pexels-valeriia-miller-12050399.webp" alt="">
        </div>
    </div>

</div>