<nav style="display:flex; justify-content:space-between;align-items:center;padding:28px;color:white;">
    <h1 style="flex:1;">mySteem</h1>
    <div style="flex:5;display:flex; justify-content:space-between;align-items:center;">
        <ul style="padding-left: 22px;display:flex;gap:11px;">
            <a style="color:silver;text-decoration:none;" href="#">home</a>
            <a style="color:silver;text-decoration:none;" href="#">about</a>
        </ul>
        <button style="background:rgb(9, 84, 94);border:solid 2px white;border-radius:22px;color:white;padding:11px;">contact us</button>
    </div>
</nav>