<style>
    #componentOne {
        padding: 300px 100px 150px 100px;
        background-image: url("https://cdn.pixabay.com/photo/2023/08/30/17/59/snowflakes-8223860_960_720.jpg");
        display: grid;
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        gap: 22px;
        background-attachment: fixed;
    }
</style>

<div id="componentOne">
    <h1><strong>Hello, my name is xyz.</strong></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem itaque tenetur doloribus, at<br /> consequuntur reiciendis hic nesciunt quasi sit? <br />Libero voluptate quis est ab rem quae
        quisquam
        corporis error ad!</p>
    <p>Aliquam, mollitia. Nesciunt, expedita. Unde eos debitis tenetur incidunt similique<br /> quaerat assumenda minus consequatur! Laudantium, optio.</p>
</div>