<style>
    footer {
        color: white;
        display: flex;
        padding: 11px;
        justify-content: space-between;
        align-items: center;
        font-size: 9px;
        background-color: rgba(0, 0, 0, 0.281);
    }
</style>
<footer>
    <p>Developed by R.M.S</p>
    <p>Build with EJS</p>
</footer>